# OS generated     #
####################
*.bak
*.*\#
\#*
.\#*
*.*~
*.swp
*.cache
Thumbs.db

# Compiled source #
###################
*.bit
*.exe
*.o
*.a
*.so
*.wlf
*.vstf
*.vcd
*.pyc
*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# Eclipse         #
###################
.library_mapping.xml
.project
.cproject
.settings/*

# Binaries Files  #
###################
*.zip
*.tar.gz
*.bin
